{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}

{% if current_user.is_authenticated %}

<!-- Content Header (Page header) -->

<section class="content-header">
  <h1>
    Dashboard
    <small>Control panel</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Dashboard</li>
  </ol>
</section>

<link href="{{url_for('static',filename='css/main.css')}}" rel="stylesheet">
</link>
<script>
  function deleteRow(btn) {
    var row = btn.parentNode.parentNode;
    row.parentNode.removeChild(row);
  }

  $(function () {
    $("#sortable").sortable({
      // items : '.handle',
      handle: ".handle",
      cancel: ''
    });
    $("#sortable").disableSelection();
  });

</script>

<section class="content">
  <!-- Small boxes (Stat box) -->


  <div class="row">
    <section class="col-lg-4 col-sm-12 connectedSortable">

      <div class="box box-primary">
        <div class="box-header">
          <i class="ion ion-clipboard"></i>

          <h3 class="box-title">Query</h3>

        </div>
        <!-- /.box-header -->


        <form action="{{ url_for('admin.index') }}" method="POST" , name="query_form">
          <div class="box-body">
            <div class="form-group">
              <div class="container">
                <div class="row">
                  <div class="col-12" id="sortable">
                    {% for field in query_list_form.queries %}
                    <div class="row" style="margin-bottom: 10px;">

                      {# Flask-WTF needs `hidden_tag()` so CSRF works for each form #}
                      <div class="col-10">{{ field.query(class="form-control ", placeholder="Query") }}</div>
                      <div class="col-1">
                        <button type="button" class="btn btn-default handle justify-content-right"
                          aria-label="Left Align">
                          <ion-icon name="reorder-three"></ion-icon>
                        </button>
                      </div>
                      <div class="col-1">
                        <button type="button" class="btn btn-default justify-content-right" aria-label="Close"
                          onclick="deleteRow(this)">
                          <span aria-hidden="true">&times;</span>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                  <div class="col-12">
                    {{ query_list_form.query1(class="form-control ", placeholder="Query") }}
                  </div>
                </div>
              </div>

              <!-- <input type="text" class="form-control" name="subject" placeholder="Query"> -->
            </div>
          </div>

          <div class="box-footer clearfix">
            {{ query_list_form.submit_query(class="pull-right btn btn-default") }}
            <!-- <i class="fa fa-arrow-circle-right"></i></button> -->
          </div>
        </form>


      </div>

    </section>
    <section class='col-lg-4 col-sm-12 connectedSortable'>
      <div class="box box-primary">
        <div class="box-header">
          <i class="fa fa-envelope"></i>

          <h3 class="box-title">Communication preference</h3>
        </div>
        <form action="{{ url_for('admin.index') }}" method="POST" , name='preference_form'>
          <div class="box-body">
            <div class="container">
              {% for p in pref_list_form.pref %}
              <div class="row">
              {% for d in p %}
                {% if loop.index == 1 %}  <div class="col-11">{{d._value()}}:</div>
                {% else %} <div class="col-1">{{d}}</div>
                {% endif %}
              {% endfor %}
              </div>
              {% endfor %}
            </div>
          </div>

          <div class="box-footer clearfix">
            {{ pref_list_form.submit_pref(class="pull-right btn btn-default") }}
            <!-- <i class="fa fa-arrow-circle-right"></i></button> -->
          </div>
        </form>
      </div>
    </section>
    <section class="col-lg-4 col-sm-12 connectedSortable">

      <div class="box box-solid bg-teal-gradient">
        <div class="box-header">
          <i class="fa fa-th"></i>

          <h3 class="box-title">Posts</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn bg-teal btn-sm" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="box-body border-radius-none">
          <div id='posts'></div>
        </div>
      </div>

    </section>
  </div>

</section>
<!-- /.content -->
{% else %}

<center>
  <section class="content" style="color: white">
    <div class="col-sm-12">
      <h1>Trader admin</h1>
      <p class="lead">
        Authentication
      </p>
      <!-- <p>
                This example shows how you can use Flask-Admin in an admin template, <br> here I used AdminLTE and <a href="https://pythonhosted.org/Flask-Security/index.html" target="_blank">Flask-Security</a> for authentication.
            </p> -->

      <!-- {% if not current_user.is_authenticated %}
            <p>You can register as a regular user, or log in as a superuser with the following credentials: <br><br> -->

      <!-- email: <b>admin</b> <br>
                password: <b>admin</b> <br>
                <br> -->
      <p>
        <a class="btn btn-primary" href="{{ url_for('security.login') }}">Login</a> <a class="btn btn-default"
          href="{{ url_for('security.register') }}">Register</a>
      </p>
      {% endif %}
      <br>
      <p>
        <a class="btn btn-primary" href="/"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
      </p>
    </div>
  </section>
</center>

<br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br>
{% endif %}


{% endblock body %}

{% block tail %}
<script src="{{url_for('static',filename='js/pages/stonks.js')}}"></script>
{% endblock tail %}